/*
Color Scheme:
Option 2:
#FFFFFF - white (background)
#FAFAFA - very light grey (boxes)
#8B96FF - dark purple
#C394FD - light purple
#F8B4E7 - pink
#FFB5B5 - coral
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
    margin: 0;
    background: linear-gradient(180deg, #8B96FF, #C394FD, #F8B4E7, #FFB5B5);
    color: #000;
    font-family: 'Poppins', sans-serif;

}

.container {
    width: calc(100vw - 20px);
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 60% 24%;
    grid-template-rows: 100%;
    grid-gap: 18px;
    grid-template-areas:
        "sidebar content header"

}

/* SIDEBAR STYLING STARTS HERE */

.sidebar {
    background-color: #f9f9f9;
    grid-area: sidebar;
    border-radius: 10px;
    margin: 15px 0px 15px 15px;
}

.sidebar-logo {
    text-align: center;
    font-size: 20px;
}

.sidebar li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar li img {
    padding-right: 10px;
}

.sidebar-main-links li {
    list-style: none;
    font-size: 18px;
    line-height: 35px;
    padding-left: 20px;
}

.sidebar-settings-links li {
    list-style: none;
    font-size: 18px;
    line-height: 35px;
    padding-left: 20px;
    
}

.troubleshoot {
    justify-content: flex-end;
}

/* MAIN STYLING STARTS HERE */

.main {
    text-align: center;
    background-color: #f9f9f9;
    grid-area: content;
    border-radius: 10px;
    margin: 15px 0px 15px 0px;
}

.main-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-btn {
    background-color: #8B96FF;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    padding: 5px;
    margin: 15px -10px 0px 15px;
    border-radius: 10px;
    width: 80px;
    font-family: 'Poppins', sans-serif;
}

.main-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
}

.main-search {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-search input {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    margin-left: 10px;
    border: 2px solid #8B96FF;
    border-radius: 5px;
}

.main-title {
    padding-bottom: 10px;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.project-card {
    width: 300px;
    height: auto;
    border-left: 10px solid #8B96FF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(31, 31, 31, 0.5);
    margin-bottom: 20px;
    font-size: 15px;
    background-color: rgba(239, 239, 240, 1);
}

#project-screenshot {
    width: 250px;
    height: 130px;
    border: 1px solid #000;
}

.project-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.project-icons img {
    width: 15px;
    height: 15px;
    padding-right: 10px;
}

/* HEADER STYLING STARTS HERE */

.header {
    background-color: #f9f9f9;
    grid-area: header;
    border-radius: 10px;
    margin: 15px 15px 15px 0px;
    text-align: center;
}

#user-pic {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgb(31, 31, 31, 0.5);
}

.header-welcome-text {
    line-height: 0%;
    padding-bottom: 10px;
}

.header-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#messages {
    padding: 10px 0px 0px 30px;
    width: 38px;
    height: 38px;
}

#notification {
    padding: 15px 30px 0px 0px;
    width: 30px;
    height: 30px;
}

.header-tasks {
    display: flex;
    justify-content: center;
}

.tasks-table table {
    font-size: 14px;
    text-align: left;
    width: 380px;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(31, 31, 31, 0.5);
    border-radius: 5px;
    padding: 2px;
}

th {
    background-color: #F8B4E7;
}

#task-done, #task-todo, #task-progress {
    border-radius: 10px;
    color: #000;
    font-size: 11px;
}

#task-done {
    background-color: #F8B4E7;
}

#task-progress {
    background-color: #FFB5B5;
}

#task-todo {
    background-color: #8B96FF;
}

/* CALENDAR STARTS HERE */
.header-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(31, 31, 31, 0.5);
    width: 380px;
    height: 455px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cal-title {
    line-height: 0px;
    font-size: 15px;
    text-align: left;
}

.today {
    box-shadow: 0px 0px 5px rgb(31, 31, 31, 0.5);
    text-align: left;
    background-color: #F8B4E7;
    width: 300px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.today-title {
    font-size: 15px;
    line-height: 0px;
}

.today-date-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 0px;
    font-weight: 900;
    margin-bottom: 5px;
}

.events {
    padding-left: 30px;
    text-align: left;
    width: 360px;
    font-size: 14px;
    line-height: 5px;
}

.events-title {
    line-height: 0px;
    font-size: 16px;
    text-align: left;
    padding-bottom: 5px;
}

.events-time {
    font-size: 15px;
    font-weight: 600;
    color: #8B96FF;
}

.events-p {
    font-size: 12px;
}




